#hero h1 {
  background-color: navy;
  padding: 90px;
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Gill San", sans-serif;
  text-transform: uppercase;
}

.card {
  background-color: navy;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  color: white;
  font-family: "Gill San", sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 50px 50px;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.section-title {
  font-family: "Gill San", sans-serif;
  font-size: 40px;
}

section {
  text-align: center;
}

