body {
  background-color: #fa8faf;
  font-family: Arial, sans-serif;
}

aside {
  background-color: #ff85ab;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h3 {
  color: rgb(253, 226, 231);
}

h5 {
  color: #ffcada;
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.4;
  color: rgb(253, 226, 231);
}